<% if(success && success.length >0) {%> 

    
    <p style="background-color: rgba(23, 131, 23, 0.288);">success: <%= success  %> </p>
    
<% }  %> 


<% if(failure && failure.length > 0) {%> 

    
    <p style="background-color: rgba(136, 10, 10, 0.288);">failure: <%= failure  %>  %> </p>

<% } %> 