  <!-- Footer -->
  <footer
  class="text-center text-lg-start text-white mt-auto footer"
  style="background-color: #131212"
  >
 

  <!-- Section: Links  -->
  <section class="">
  <div class="container text-center text-md-start mt-5">
  <!-- Grid row -->
  <div class="row mt-3">
  <!-- Grid column -->
  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold footer-brand">Project-V</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
      We are a group of developers, designers and lifelong learners who are passionate on building
      cool stuff
      </p>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      
      <h6 class="text-uppercase fw-bold">Products</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
      <a href="#!" class="text-white">MDBootstrap</a>
      </p>
      <p>
      <a href="#!" class="text-white">MDWordPress</a>
      </p>
      <p>
      <a href="#!" class="text-white">BrandFlow</a>
      </p>
      <p>
      <a href="#!" class="text-white">Bootstrap Angular</a>
      </p>
  </div> -->
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Useful links</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      <p>
      <a href="/info/about" class="text-white">About Us</a>
      </p>
      <p>
        <a href="https://www.buymeacoffee.com/projectv" class="text-white">Support us</a>
      </p>
      <p>
      <a href="/user/register" class="text-white">Sign UP</a>
      </p>

    
      <!-- <p>
      <a href="#!" class="text-white">Shipping Rates</a>
      </p>
      <p>
      <a href="#!" class="text-white">Help</a>
      </p> -->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold">Contact</h6>
      <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
      
      <p><i class="fas fa-envelope mr-3"></i> projectv103@gmail.com</p>
      
      
  </div>
  <!-- Grid column -->
  </div>
  <!-- Grid row -->
  </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
  class="text-center p-3"
  style="background-color: rgba(0, 0, 0, 0.2)"
  >
  © 2023 Copyright:
  <a class="text-white" href="/info/about"
  >Team-V</a
  >
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->