<nav class="navbar navbar-expand-lg navbar-custom" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="/icons/icon-512x512.png" alt="V" width="50" height="43" class="d-inline-block align-text-top">
        Project-V
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto"> <!-- Use mr-auto to push other items to the right -->
              <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/info/about">About</a>
              </li>
              <li class="nav-item dropdown">
                
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Features
                  </a>
                  <ul class="dropdown-menu">
                    <a href="/user/login">
                        <div class="loading-overlay" >
                        <p>Login and wait until we get required components...</p>
                        </div> 
                    </a>
                      <li><a class="dropdown-item" href="/feature/trim">Trim</a></li>
                      <li><a class="dropdown-item" href="/feature/split">Split</a></li>
                      <li><a class="dropdown-item" href="/feature/getaudio">Extract Audio</a></li>
                      <li><a class="dropdown-item" href="/feature/muteaudio">Mute</a></li>
                      <li><a class="dropdown-item" href="/feature/merge">Merge</a></li>
                      <li><a class="dropdown-item" href="/feature/convert">Convert</a></li>
                      <li><a class="dropdown-item" href="/feature/resize">Resize</a></li>
                  </ul>
              </li>
          </ul>


          <ul class="navbar-nav ml-auto"> <!-- Use ml-auto to align items to the right -->
              <!-- rightmost nav link -->
              <li class="nav-item nav-item-right">
                  <a class="nav-link " aria-current="page" href="/user/login" id="loginNav">Login</a>
              </li>
              <li class="nav-item nav-item-right">
                  <a class="nav-link" href="/user/register" id="registerNav">Register</a>
              </li>
          </ul>
      </div>
  </div>
</nav>