<% layout("./layouts/features.ejs") %> 


<h1>Get Audio </h1>
<p>Extract audio of your video file</p>

<span id="mode">getaudio</span>

<!--  switch between single and multithreading -->
<div class="switch-container">
    <p>toggle multithreading</p>
    
    <label class="switch">
       
       <input type="checkbox" id="toggleModeButton">
       <span class="slider round"></span>
       
   </label>
   </div>

<input type="file" id="videoInput" accept="video/*">
<input type="text" id="outputName" placeholder="Output filename">
<video id="input-video" class="hidden videoContainer" controls></video><br/>

<select id="outputFormat">
    <option value="AAC">AAC</option>
    <option value="mp3">MP3</option>
    <!-- <option value="webm">WEBM</option>  doesnt support webm for now -->

</select>
<video id="output-video" class="hidden videoContainer" controls></video><br/>
<button type="button" id="convertButton" class="btn btn-dark">Process</button>

<p id="message"></p>

<a href="#" class="feature_download_link" id="downloadLink" download><button type="button"  class="btn btn-success">Get File</button></a>