<% layout("./layouts/features.ejs") %> 


<h1>Resize </h1>
<p>Alter the size of your video</p>

<span id="mode">resize</span>
<!-- Add this button inside the body of your HTML -->
<!-- <button id="toggleModeButton">single/ multithreaded</button> -->

<!--  switch between single and multithreading -->
<div class="switch-container">
    <p>toggle multithreading</p>
    
    <label class="switch">
       
       <input type="checkbox" id="toggleModeButton">
       <span class="slider round"></span>
       
   </label>
   </div>




<input type="file" id="videoInput" accept="video/*">
<input type="text" id="outputName" placeholder="Output filename">
<select id="dimension">
    <!-- d -->
    <option value="1080:1920">shorts</option>
    <option value="1080:1880">square</option>
    <option value="1080:1350">portrait</option>
    <!-- d -->
    <option value="480:360">480:360</option>
    <option value="640:480">640:480</option>
    <option value="1280:720">1280:720</option>
    <option value="1920:1080">1920:1080</option>
    
    <!--<option value="size"></option>-->
</select>

<video id="output-video" controls></video><br/>
<button type="button" id="convertButton" class="btn btn-dark">Process</button>

<p id="message"></p>

<a href="#" class="feature_download_link" id="downloadLink" download>Get File</a>