<% layout("./layouts/features.ejs") %> 


<h1>Trim </h1>
<p>Trim your video file to get a specific portion</p>

<span id="mode">trim</span>

<!--  switch between single and multithreading -->
<!-- <div class="switch-container">
  <p>toggle multithreading</p>
  
  <label class="switch">
     
     <input type="checkbox" id="toggleModeButton">
     <span class="slider round"></span>
     
 </label>
 </div> -->


<input type="file" id="videoInput" accept="video/*">
<input type="text" id="outputName" placeholder="Output filename">
<video id="input-video" class="hidden videoContainer" controls></video><br/>





<div class="trim-time-container">


  <fieldset>
    <legend>Start time</legend>
    <legend> <button class="btn btn-dark capture-button" onclick="captureTime(['start_hour', 'start_minute', 'start_second'])">Capture Time</button></legend>
    <div>
      <input class="time_input" id="start_hour" type="number" min="0" max="23" placeholder="00" value=0 >:
      <input class="time_input" id="start_minute" type="number" min="0" max="59" placeholder="00" value=0 >:
      <input class="time_input" id="start_second"type="number" min="0" max="59" placeholder="00"  value=0 >
      
       
    </div>         
 </fieldset>    

 <fieldset>
    <legend>End time</legend>
    <legend><button class="btn btn-dark capture-button" onclick="captureTime(['end_hour', 'end_minute', 'end_second'])">Capture Time</button></legend>
    <div>
      <input class="time_input" id="end_hour" type="number" min="0" max="23" placeholder="00" value=0 >:
      <input class="time_input" id="end_minute" type="number" min="0" max="59" placeholder="00" value=0 >:
      <input class="time_input" id="end_second"type="number" min="0" max="59" placeholder="00"  value=0 >
      
       
    </div>         
 </fieldset>    

</div>   


<video id="output-video" class="hidden videoContainer" controls></video><br/>

<button type="button" id="convertButton" class="btn btn-dark">Process</button>


<p id="message"></p>

<a href="#" class="feature_download_link" id="downloadLink" download><button type="button"  class="btn btn-success">Get File</button></a>


<script>

  const videoInputPlayer = document.getElementById('input-video');

    const captureTime = (timeList) => {
    
    const vidTime = videoInputPlayer.currentTime;
  
    // Convert vidTime from seconds to the format hh:mm:ss.ss
    const formattedTime = convertTime(vidTime);
  
    // Split the formatted time by ':'
    const timeParts = formattedTime.split(':');
  
    // Loop through the timeList and insert the time parts
    for (let i = 0; i < 3; i++) {
      const inputField = document.getElementById(timeList[i]);
      if (inputField) {
        inputField.value = timeParts[i];
      }
    }
  };
  
  // Function to convert time in seconds to hh:mm:ss.ss format
  const convertTime = (timeInSeconds) => {
    const hours = Math.floor(timeInSeconds / 3600);
    const minutes = Math.floor((timeInSeconds % 3600) / 60);
    const seconds = (timeInSeconds % 60).toFixed(0);
  
    return `${padZero(hours)}:${padZero(minutes)}:${seconds}`;
  };
  
  // Function to pad a single-digit number with a leading zero
  const padZero = (num) => (num < 10 ? `0${num}` : num);
  </script>