<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-V</title>

    <!-- <link href="" rel="stylesheet"  > -->

</head>
<body  class="d-flex flex-column vh-100">


    

    <main class="main">

    <%- include("../partials/flash")  %> 
    <%- body %> 
    </main>

 
    


</body>
<!-- <script src="" integrity="></script> -->

</html>