<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-V</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- <link href="" rel="stylesheet"  > -->

</head>
<body  >

    <!-- class="d-flex flex-column vh-100" used to belong to body -->
    

    

    <%- include("../partials/flash")  %> 
    <%- body %> 
    

 
    <script type="module" src="/javascript/feature_script.js"></script>
    <script type="module" src="/javascript/script.js"></script>
    
</body>
<!-- <script src="" integrity="></script> -->

</html>