<% layout("./layouts/boilerplate.ejs") %> 


<div class="center-container" style="padding-top: 8em">
    
    <h1>About us:</h1>

    <p>We are a group of passionate builders . What you are seeing right now is one of our learning project 
        We hope you liked it. We would love to hear your feedback and suggestions, So feel free to contact us
    </p>

    <div>

        <div class="member-card">
            <h2>S Abarna</h2>
            <h3>Role:Mentor</h3>
            
            <hr>
        </div>

        <div class="member-card">
            <h2>Rino Jonathan</h2>
            <h3>Role:Lead Fullstack Developer</h3>
            <p>Email id: <a href="mailto:arulrinojonathan@gmail.com">arulrinojonathan@gmail.com</a> </p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/rino-jonathan-35194418b/">Rino Jonathan</a></p>
            <hr>
        </div>
    
        <div class="member-card">
            <h2>Anantha Kumaran</h2>
            <h3>Role:Logic and Backend</h3>
            <p>Email id: <a href="mailto:ananthakumaran1029@gmail.com">ananthakumaran1029@gmail.com</a> </p>
            <p>Linkedin: <a href="https: //www.linkedin.com/in/kumaran-undefined-614595289/ ">Kumaran</a></p>
            <hr>
        </div>
    
        <div class="member-card">
            <h2>Nandigama Prashanth Kumar</h2>
            <h3>Role:Frontend and Design</h3>
            <p>Email id: <a href="mailto:johnsonprashanth48@gmail.com ">johnsonprashanth48@gmail.com </a> </p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/nandigama-prashanth-kumar/">Nandigama Prashanth Kumar</a></p>
            <hr>
        </div>
        
    </div>


    

</div>



<div class="center-container" style="height: 20em;padding: 4em 0em; ">

    <br>
    <p>If you would like to support us, <script crossorigin="anonymous" type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="projectV" data-color="#5F7FFF" data-emoji="☕"  data-font="Arial" data-text="Buy us a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script></p>
    

</div>