<% layout("./layouts/boilerplate.ejs") %> 


<div class="center-container">
    
    <h1>About us:</h1>

    <p>We are a group of passionate builders . What you are seeing right now is one of our learning project 
        We hope you liked it. We would love to hear your feedback and suggestions, So feel free to contact us
    </p>

</div>