<% layout("./layouts/boilerplate.ejs") %> 

<h1>Welcome home</h1>
<% if(currentUser){ %>
    <h1><%= currentUser.username  %> </h1>
<% } %> 

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur illum delectus atque harum voluptatum corporis voluptas provident labore eos, placeat voluptates unde error eaque sunt deleniti iste dolorem voluptate molestiae.</p>


<a href="/feature/trim">trim</a>
<!-- <script src="/temp.js"></script> -->