<% layout("./layouts/boilerplate.ejs") %> 






  

  <div class="slide_1">
    
        <h1>Welcome home</h1>
    <% if(currentUser){ %>
        <h1><%= currentUser.username  %> </h1>
    <% } %> 

    <p class="slide_text">Do you want to <span style="color: red;">Edit</span></p>
    <p class="slide_text">without giving away <span style="color: red;"> Video </span> files</p>
    <p class="slide_text">Straight  <span style="color: red;">from your  Browser</span>?</p>
    <a href="#tools" class="btn btn-dark dark-button">Try out Tools</a>

    
  </div>






  <div class="slide_2 overlay-right-to-left">
    

    <p class="slide_text">We Leverage Technologies like <span style="color: red;">PWA</span></p>
    <p class="slide_text">So, you can <span style="color: red;">continue  editing</span> from our webapp even when <span style="color: red;">offline</span></p>
  </div>


  
 


  <div class="container-carousel" id="tools"> 
  <div class="loading-overlay" >
    <p>Login and wait until we get required components...</p>
  </div>
    <h1>Editing Tools</h1>
    <ul class="control" id="custom-control">
      <li class="prev">
        <i class="fas fa-angle-left fa-2x"></i>
      </li>
      <li class="next">
        <i class="fas fa-angle-right fa-2x"></i>
      </li>
    </ul>
    <div class="my-slider">
      <a href="/feature/trim" class="carousel-anchor"><img src="/images/trim.png" alt="trim" ></a>
      <a href="/feature/split" class="carousel-anchor"><img src="/images/split.png" alt="split" ></a>
      <a href="/feature/getaudio" class="carousel-anchor"><img src="/images/getaudio.png" alt="get audio" ></a>
      <a href="/feature/muteaudio" class="carousel-anchor"><img src="/images/mute.png" alt="mute audio" ></a>
      <a href="/feature/convert" class="carousel-anchor"><img src="/images/convert.png" alt="convert" ></a>
      <a href="/feature/merge" class="carousel-anchor"><img src="/images/merge.avif" alt="merge" ></a>
      <a href="/feature/resize" class="carousel-anchor"><img src="/images/resize.png" alt="resize" ></a> 
      
  
    </div>
  </div>

  








