<% layout("./layouts/boilerplate.ejs") %> 

<h1>Welcome home</h1>
<% if(currentUser){ %>
    <h1><%= currentUser.username  %> </h1>
<% } %> 

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur illum delectus atque harum voluptatum corporis voluptas provident labore eos, placeat voluptates unde error eaque sunt deleniti iste dolorem voluptate molestiae.</p>

<div>
    <a href="/feature/trim">trim</a>
    <a href="/feature/convert">convert</a>
    <a href="/feature/merge">merge</a>
    <a href="/feature/split">split</a>
    <a href="/feature/resize">resize</a>
    <a href="/feature/getaudio">getaudio</a>
    <a href="/feature/muteaudio">muteaudio</a>
</div>
<a href="/feature/trim">trim</a>
<!-- <script src="/temp.js"></script> -->