<% layout("./layouts/boilerplate.ejs") %> 

<h1>Login User</h1>
<form action="/user/login" method="post">

    <div>
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" placeholder="User Name">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>

    <div><button>Login</button>
    </div>
</form>

<a href="/user/register">Register</a>
<a href="/user/logout">Logout</a>