<% layout("./layouts/boilerplate.ejs") %> 

<!-- <h1>Login User</h1>
<form action="/user/login" method="post">

    <div>
        <label for="username">User Name</label>
        <input type="text" name="username" id="username" placeholder="User Name">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>

    <div><button>Login</button>
    </div>
</form>

<div><a class="button google" href="/user/google">Sign in with Google</a></div>

<a href="/user/register">Register</a>
<a href="/user/logout">Logout</a> -->


<main class="container mt-5" >

<h1>Login</h1>
<form action="/user/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success" >Login</button>
</form>



<a href="/user/register"> <button class="btn btn-primary"   >Register</button> </a>
    
<!-- <a href="/user/logout"><button class="btn btn-danger" >Logout</button></a> -->

<p class="divLine" style="margin-top: 5em;">OR</p>

<a href="/user/google"><button type="button" href="/user/google" class="google-sign-in-button" style="margin-top: 5em;">
    SignIn with Google
</button>
</a>


</main>